@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
  font-size: 1.4rem;
}

/* IEは未サポート将来的にはこれになるかも */
#test1 {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 2px solid #000;
  pointer-events: none;
}

#test1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

#test2 {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 2px solid #000;
  pointer-events: none;
}

#test2 img {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 画像と同じようにできる */
#video1 {
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* iframeを使うYoutubeは黒い余白をが入らないようにアスペクト比で計算 */
#youtube1 {
  z-index: -1;
  position: fixed;
  /* 真ん中に配置する */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  /* 最小は縦幅に動画のアスペクト比をかける 9/16の数字 */
  min-width: 177.77vh;
  height: 200vh;
  /* 最小は横幅に動画のアスペクト比をかける 16/9の数字 */
  min-height: 56.25vw;
}

/*
@media (max-width: 1280px){
    #youtube1 {
        min-height: 720px;
    }
}
@media (max-height: 720px){
    #youtube1 {
        min-width: 1280px;
    }
}*/
#Window {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  color: #fff;
}

#Window a {
  color: #fff;
}

#Window2 {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.75);
  padding: 50px;
  color: #000;
}

#Window2 a {
  color: #000;
}
